<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
<configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WarshipBattleStats.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="WargamingAPI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WargamingDatabase.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="WargamingAPI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="env" value="debug"/>
  </appSettings>

  <applicationSettings>
    <WargamingDatabase.My.MySettings>
      <setting name="SqliteConnectionString" serializeAs="String">
        <value>Data Source={0}/WargamingData_Wariad.db</value>
      </setting>
    </WargamingDatabase.My.MySettings>
    <WargamingAPI.My.MySettings>
      <setting name="ApplicationID" serializeAs="String">
        <value>a3c0e0914218969f8234b53a8daa03f3</value>
      </setting>
    </WargamingAPI.My.MySettings>
  </applicationSettings>

  <userSettings>
    <WargamingAPI.My.MySettings>
      <setting name="APIversion" serializeAs="String">
        <value>0.7.3.0</value>
      </setting>
    </WargamingAPI.My.MySettings>
    <WarshipBattleStats.MySettings>
      <setting name="PlayBattleSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WowsFolder" serializeAs="String">
        <value>D:\WorldOfWarships</value>
      </setting>
      <setting name="BattleLogLeft" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="BattleLogTop" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="BattleLogAlwaysOnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartWithWindows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="AccountNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewInLog" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>PVP</string>
            <string>PVE</string>
            <string>BATTLESHIP</string>
            <string>CRUISER</string>
            <string>AIRCARRIER</string>
            <string>DESTROYER</string>
          </ArrayOfString>
        </value>
      </setting>
    </WarshipBattleStats.MySettings>
  </userSettings>
</configuration>